.header-primary {
  background-color: $brand-primary;
  color: $gray-secondary;

  .header-primary-inner {
    height: 50px;

    i {
      font-size: 26px;
    }

    .search-wrapper {
      border: 1px solid $gray-secondary;
      padding: 4px 16px;

      button {
        background-color: transparent;
        border: 0;
        color: $gray-secondary;
      }

      input {
        font-family: roboto, sans-serif;
        color: $gray-secondary;
        background-color: transparent;
        border: 0;
        text-transform: lowercase;
        font-style: italic;
      }
    }
  }

  .nav-primary {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      font-size: 20px;
      text-transform: uppercase;

      a {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          margin: -2px 0;
          background-color: $gray-secondary;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.2s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          transform: scaleX(1.2);
        }
      }
    }
  }

  .banner-secondary {
    height: 180px;
    background: $brand-primary url('/images/banners/logo_banner_mobile.png')
      no-repeat center center / 120%;
    background-size: cover;
  }
}
