.badge {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  color: $gray-primary;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $gray-primary;
    color: $gray-secondary;
    transform: translate(-2px, -2px);
  }

  &:active {
    background-color: $gray-primary;
    color: $gray-secondary;
    transform: translate(-2px, -2px);
  }
}
