@import './footer-nav';
@import './footer-connect';
@import './footer-contact';

.footer {
  background-color: $gray-secondary;

  & > div {
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 'contact' 'nav' 'connect';
      width: auto;
    }

    .footer-contact {
      grid-area: contact;
    }

    .footer-nav {
      grid-area: nav;
    }

    .footer-connect {
      grid-area: connect;
    }
  }

  &-inner {
    max-width: unset;
    padding: 0;

    @include media-breakpoint-up(lg) {
      max-width: 960px;
      padding: 0 12px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 1140px;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 1296px;
    }
  }
}
