@import './footer-nav';
@import './footer-connect';
@import './footer-contact';

.footer {
  background-color: $gray-secondary;

  & > div {
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 'contact' 'nav' 'connect';
      width: auto;
    }

    .footer-contact {
      grid-area: contact;
    }

    .footer-nav {
      grid-area: nav;
    }

    .footer-connect {
      grid-area: connect;
    }
  }

  &-inner {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: unset;
    }
  }
}
